#home-logo{
    position: relative;
    width: 70%;
    margin: 70px 15% auto;
}
#home-btn-play-pause {
    position: relative;

    border: none;
    outline:none;
    height: 100px;
    width: 100px;
    font-size: 1.2em;  /* Change size */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, .3); */
    cursor:pointer;
    background-color: #98147B;
    margin: 40px auto 0;
    border: solid 7px #fff;
    border-radius: 50px;
    background-image: url(../img/home/bg-play-pause.png);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: 10px -4px;
}
#home-btn-play-pause.enpausa{background-position: 10px -110px;}

#home-play-pause {background-color: #A40080;position: relative;width: 100px;height: 100px;margin: 0 auto;border: solid 5px #fff;border-radius: 50px; overflow: hidden; }

#home-txt-artista {
    font-family: 'roboto-bold-webfont';
    color: #fff;
    text-align: center;
    margin: 20px auto 0;
    width: 80%;
}

#home-txt-cancion {
    font-family: 'roboto-light-webfont';
    color: #fff;
    text-align: center;
    margin: 2px auto 0;
    width: 80%;
}

#home-menu-nav {
    position: absolute;
    bottom: 30px;
    width: 260px;
    background-color: rgba(116,13,126,0.6);
    margin: 0 auto;
    left: 50%;
    margin-left: -130px;
    border: solid 3px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.home-btn-nav {width: 79px;height: 50px;/* background-color: black; */display: inline-block;}

#home-menu-nav .home-btn-nav > img {width: 30px;margin-top: 10px;}
#home-btn-info{

}
#home-btn-fav{

}
#home-btn-email{

}

